/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-red-500;
}
.bg-secondary {
  @apply bg-red-400;
}
.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}
body::-webkit-scrollbar {
  display: none;
}
